<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我要发表 - {:C('SITE_NAME')}</title>
<include file="Public/header"/> 

<!--中间  开始-->

<div id="mnmf00">
  <div id="mnmf001">
    <div id="Timea"><img src="__PUBLIC__/Home/images/24.jpg" width="128" height="50" /></div>
    <div id="geuj">
      <form action="{:U('MicroCircle/add')}">
        <table width="100%" border="0" cellspacing="0">
          <tr>
            <td width="8%" height="70">昵称：</td>
            <td width="92%">
              <input name="nickname" type="text" class="mmn">
            </td>
          </tr>
          <tr>
            <td height="67">邮箱：</td>
            <td><input name="email" type="email" class="mmn"></td>
          </tr>
          <tr>
            <td height="66"><span style="color:red;">*</span>标题：</td>
            <td><input name="title" type="text" class="mmn"></td>
          </tr>
          <tr>
            <td height="46" colspan="2"><span style="color:red;">*</span>正文：您可以在以下编辑框中输入正文，上传图片，插入微视频以及排版</td>
            </tr>
          <tr>
            <td height="390" colspan="2">
              <textarea name="content"  id="ue-content"></textarea>
            </td>
            </tr>
          <tr>
            <td height="100" colspan="2"><input name="" type="submit" value="提　交" class="mmn1"></td>
            </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="clear1"></div>
</div>

<!--中间结束-->
<include file="Public/footer" />
<script src="__PUBLIC__/Admin/vendor/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugin/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/layer/layer.js"></script>

<script type="text/javascript">
  //实例化编辑器
  UE.getEditor('ue-content');
  $('form').submit(function() {
    var _this = $(this);
    if ($('input[name=title]').val() == "") {
      layer.msg('请输入标题~');
      return false;
    }
    if ($('textarea[name=content]').val() == "") {
      layer.msg('内容不能为空');
      return false;
    }
    $.ajax({
      url        : _this.attr('action'),
      method     : "post",
      data       : _this.serialize(),
      dataType   : 'json',
      beforeSend : function() {
        layer.load(1);
      },
      success    : function(data) {
        layer.closeAll('loading');
        var data = eval(data);
        if (data.status) {
          layer.msg(data.msg, function() {
            window.location.href = "{:U('MicroCircle/index')}";
          });
        } else {
          layer.msg(data.msg);
        }
      }
    });
    return false;
  });
</script>
</body>
</html>
